<template>
  <div>
    <ub-select-person v-model="absence.person_id" name="person" :validate="'required'"></ub-select-person>
    <ub-input-datetime type="datetime" v-model="absence.start_time" name="start_time" :validate="'required'">Von</ub-input-datetime>
    <ub-input-datetime type="datetime" v-model="absence.end_time" name="end_time" :validate="'required'">Bis</ub-input-datetime>
    <ub-input v-model="absence.reason" name="reason" :validate="'required'">Grund</ub-input>
    <div class="field">
      <label class="label">Optional</label>
      <p class="control">
        <input v-model="absence.optional" name="optional" type="checkbox">
      </p>
    </div>
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <button class="button is-primary" @click="saveAbsence" :disabled="errors.any() || saveInProgress" :class="{'is-loading': saveInProgress}">
          <span v-if="absence.id">Speichern</span>
          <span v-else>Erstellen</span>
        </button>
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import UbSelectPerson from './UbSelectPerson'
import UbInput from './UbInput'
import UbInputDatetime from './UbInputDatetime'

export default {
  name: 'UbFormAbsence',
  components: {
    UbInput,
    UbSelectPerson,
    UbInputDatetime
  },
  props: {
    initialAbsence: {
      type: Object,
      default: () => {
        return {
          id: undefined,
          person_id: undefined,
          start_time: undefined,
          end_time: undefined,
          reason: undefined,
          optional: false
        }
      }
    },
    id: {}
  },
  created () {
    // check if person is set over route
    if (this.id) {
      this.fetch(this.id).then((absence) => {
        this.absence = Object.assign({}, absence)
      }).catch((error) => {
        // TODO: error handling
        alert('failed to get absence with id: ' + this.id + '. ' + error)
      })
    }
  },
  data () {
    return {
      absence: Object.assign({}, this.$props.initialAbsence),
      saveInProgress: false
    }
  },
  methods: {
    ...mapActions('absence', [
      'fetch',
      'save'
    ]),
    saveAbsence () {
      this.saveInProgress = true
      this.$validator.validateAll()
        .then((valid) => {
          if (!valid) {
            throw new Error('form is not valid')
          }
          return this.save(this.absence)
        })
        .then((absence) => {
          this.saveInProgress = false
          this.absence = absence
        })
        .catch((error) => {
          this.saveInProgress = false
          // TODO
          alert('could not save absence: ' + error)
        })
    }
  }
}
</script>