<template>
  <div>
    <ub-input v-model="person.name" name="name" :validate="'required'">Name</ub-input>
    <ub-input v-model="person.username" name="username">LDAP-User</ub-input>
    <ub-input v-model="person.short_name" name="short_name" :validate="'required'">Kürzel</ub-input>
    <ub-input-color v-model="person.color" name="color" :validate="'required'">Farbe</ub-input-color>
    <ub-input v-model.number="person.employment_level" name="employment_level" :validate="'required|between:1,100'">Anstellungsgrad in %</ub-input>
    <ub-input-datetime v-model="person.contract_start" type="date" name="contract_start">Anstellungsbeginn</ub-input-datetime>
    <ub-input-datetime v-model="person.contract_end" type="date" name="contract_end">Anstellungsende</ub-input-datetime>
    <div class="field">
      <label class="label">Admin</label>
      <p class="control">
        <input v-model="person.is_admin" name="is_admin" type="checkbox">
      </p>
    </div>
    <div class="field">
      <div class="field is-grouped is-grouped-left">
        <p class="control">
          <button class="button is-primary" @click="savePerson" :disabled="errors.any() || saveInProgress" :class="{'is-loading': saveInProgress}">
            <span v-if="person.id">Speichern</span>
            <span v-else>Erstellen</span>
          </button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import UbInput from './UbInput'
import UbInputColor from './UbInputColor'
import UbInputDatetime from './UbInputDatetime'

export default {
  name: 'UbFormPerson',
  components: {
    UbInput,
    UbInputColor,
    UbInputDatetime
  },
  props: {
    initialPerson: {
      type: Object,
      default: () => {
        return {
          id: undefined,
          name: undefined,
          username: undefined,
          short_name: undefined,
          is_admin: false,
          color: undefined,
          employment_level: undefined,
          contract_start: undefined,
          contract_enc: undefined
        }
      }
    },
    id: {}
  },
  mounted () {
    // check if person is set over route
    if (this.id) {
      this.fetch(this.id).then((person) => {
        this.person = Object.assign({}, person)
      }).catch((error) => {
        // TODO: error handling
        alert('could not get person with id ' + this.id + ': ' + error)
      })
    }
  },
  data () {
    return {
      person: Object.assign({}, this.$props.initialPerson),
      saveInProgress: false
    }
  },
  methods: {
    ...mapActions('person', [
      'fetch',
      'save'
    ]),
    savePerson () {
      this.saveInProgress = true
      this.$validator.validateAll()
        .then((valid) => {
          if (!valid) {
            throw new Error('form is not valid')
          }
          return this.save(this.person)
        })
        .then((person) => {
          this.saveInProgress = false
          this.person = person
        })
        .catch((error) => {
          this.saveInProgress = false
          // TODO
          alert('could not save person: ' + error)
        })
    }
  }
}
</script>