<template>
  <div>
    <ub-input-datetime type="datetime" v-model="workshift.start_time" name="start_time" :validate="'required'">Von</ub-input-datetime>
    <ub-input-datetime type="datetime" v-model="workshift.end_time" name="end_time" :validate="'required'">Bis</ub-input-datetime>
    <ub-select-person v-model="workshift.person_id" name="person" :validate="'required'"></ub-select-person>
    <ub-select-work v-model="workshift.work_id" name="work" :validate="'required'"></ub-select-work>
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <button class="button is-primary" @click="saveWorkshift" :disabled="errors.any() || saveInProgress" :class="{'is-loading': saveInProgress}">
          <span v-if="workshift.id">Speichern</span>
          <span v-else>Erstellen</span>
        </button>
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import UbSelectWork from './UbSelectWork'
import UbSelectPerson from './UbSelectPerson'
import UbInputDatetime from './UbInputDatetime'

export default {
  name: 'UbFormWorkshift',
  components: {
    UbSelectWork,
    UbSelectPerson,
    UbInputDatetime
  },
  props: {
    initialWorkshift: {
      type: Object,
      default: () => {
        return {
          id: undefined,
          start_time: undefined,
          end_time: undefined,
          work_id: undefined,
          person_id: undefined
        }
      }
    },
    id: {}
  },
  created () {
    // check if person is set over route
    if (this.id) {
      this.fetch(this.id).then((workshift) => {
        this.workshift = Object.assign({}, workshift)
      }).catch((error) => {
        // TODO: error handling
        alert('failed to get workshift with id: ' + this.id + '. ' + error)
      })
    }
  },
  data () {
    return {
      workshift: Object.assign({}, this.$props.initialWorkshift),
      saveInProgress: false
    }
  },
  methods: {
    ...mapActions('workshift', [
      'fetch',
      'save'
    ]),
    saveWorkshift () {
      this.saveInProgress = true
      this.$validator.validateAll()
        .then((valid) => {
          if (!valid) {
            throw new Error('form is not valid')
          }
          return this.save(this.workshift)
        })
        .then((workshift) => {
          this.saveInProgress = false
          this.workshift = workshift
        })
        .catch((error) => {
          this.saveInProgress = false
          // TODO
          alert('could not save workshift: ' + error)
        })
    }
  }
}
</script>