<template>
  <div class="field">
    <label class="label">{{ displayName }}</label>
    <p class="control">
      <input 
        class="input"
        :class="{'is-danger': errors.has(name)}"
        :name="name"
        :type="type"
        :value="value"
        :placeholder="placeholder"
        v-validate="validate"
        @input="$emit('input', $event.target.value)"
        :data-vv-as="displayName">
      <span v-show="errors.has(name)" class="help is-danger">
        {{ errors.first(name) }}
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'UbInput',
  inject: {
    $validator: '$validator'
  },
  props: {
    name: {
      type: String,
      required: true
    },
    validate: {
      type: String,
      default: ''
    },
    value: {},
    type: {
      default: 'text'
    },
    placeholder: {}
  },
  data () {
    return {
      displayName: this.$slots.default[0].text
    }
  }
}
</script>