<template>
  <div class="field">
    <label class="label">{{ displayName }}</label>
    <p class="control">
      <div 
        class="color-picker-field"
        @click="showColorPicker"
        :style="color.hex ? 'background: ' + color.hex : ''"
      ></div>
      <color-picker 
        v-on-clickaway="hideColorPicker"
        v-if="colorPickerVisible" 
        :disableAlpha="true" 
        v-model="color" 
        @input="updateColor"></color-picker>
      <span v-show="errors.has(name)" class="help is-danger">
        {{ errors.first(name) }}
      </span>
    </p>
  </div>
</template>

<script>
import { Sketch } from 'vue-color'
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'UbInputColor',
  mixins: [ clickaway ],
  inject: {
    $validator: '$validator'
  },
  props: {
    name: {
      type: String,
      required: true
    },
    validate: {},
    value: {}
  },
  data () {
    return {
      displayName: this.$slots.default[0].text,
      colorPickerVisible: false,
      color: {
        hex: this.$props.value
      }
    }
  },
  methods: {
    updateColor () {
      this.$emit('input', this.color.hex)
    },
    showColorPicker () {
      if (!this.$props.readonly) {
        this.colorPickerVisible = true
      }
    },
    hideColorPicker () {
      this.colorPickerVisible = false
    }
  },
  watch: {
    value (newValue) {
      this.color.hex = newValue
    }
  },
  components: {
    'color-picker': Sketch
  }
}
</script>

<style>
.color-picker-field {
  width: 30px;
  height: 30px;
  border: 4px solid white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

</style>