<template>
  <div class="field">
    <label class="label">{{ displayName }}</label>
    <div class="field has-addons">
      <p class="control">
        <input 
          ref="fp"
          class="input"
          :class="{'is-danger': errors.has(name)}"
          :name="name"
          v-model="inputText"
          :placeholder="dateFormat"
          v-validate="validateString"
          @input="updateDatetime($event.target.value)"
          :data-vv-as="displayName">
      </p>
      <p class="control" @click="showFlatpickr()">
        <a class="button is-static" >
          <span class="icon">
            <i class="fa fa-calendar"></i>
          </span>
        </a>
      </p>
    </div>
    <span v-show="errors.has(name)" class="help is-danger">
      {{ errors.first(name) }}
    </span>
  </div>
</template>

<script>
import Flatpickr from 'flatpickr'
import 'flatpickr/dist/flatpickr.css'
import { German } from 'flatpickr/dist/l10n/de.js'
import moment from 'moment'

Flatpickr.localize(German)

export default {
  name: 'UbInputDatetime',
  inject: {
    $validator: '$validator'
  },
  props: {
    name: {
      type: String,
      required: true
    },
    // predefined configs date, datetime, time
    type: {
      type: String,
      default: 'datetime',
      validator: (value) => [
        'datetime',
        'date',
        'time'
      ].indexOf(value) !== -1
    },
    validate: {
      type: String,
      default: ''
    },
    value: {
      type: Object,
      validator: value => moment.isMoment(value) || value === undefined,
      default: undefined
    },
    config: {
      type: Object
    }
  },
  data () {
    return {
      displayName: this.$slots.default[0].text,
      flatPickrBaseConfig: {
        time_24hr: true,
        allowInput: true,
        clickOpens: false
      },
      fp: null,
      inputText: moment.isMoment(this.value) ? this.value.format(this.dateFormat) : undefined
    }
  },
  created () {
    // set flatpicker config based on type
    if (this.type === 'datetime' || this.type === 'time') {
      this.flatPickrBaseConfig.enableTime = true
    }
    if (this.type === 'time') {
      this.flatPickrBaseConfig.noCalendar = true
    }
  },
  methods: {
    showFlatpickr () {
      this.fp.open()
    },
    updateDatetime (newDate) {
      if (newDate === '') {
        // unset time
        this.$emit('input', undefined)
        return
      }
      let datetime = moment(newDate, this.dateFormat, true)
      if (datetime.isValid()) {
        this.$emit('input', datetime)
      }
    }
  },
  watch: {
    value (newValue) {
      this.inputText = moment.isMoment(this.value) ? this.value.format(this.dateFormat) : undefined
    }
  },
  computed: {
    flatpickrConfig () {
      return Object.assign({}, this.flatPickrBaseConfig, this.config)
    },
    // formattedDate () {
    //   console.log('foo')
    //   return moment.isMoment(this.value) ? this.value.format(this.dateFormat) : undefined
    // },
    dateFormat () {
      // default datetime
      let format = 'YYYY-MM-DD HH:mm'
      if (this.type === 'time') {
        format = 'HH:mm'
      }
      if (this.type === 'date') {
        format = 'YYYY-MM-DD'
      }
      return format
    },
    validateString () {
      return this.validate.split('|').concat(['date_format:' + this.dateFormat]).join('|')
    }
  },
  mounted () {
    this.fp = new Flatpickr(this.$refs.fp, this.flatpickrConfig)
  }
}
</script>