<template>
  <div class="field">
    <label class="label">Person</label>
    <p class="control">
      <div class="select">
        <select 
          :value="value" 
          :name="name"
          :class="{'is-danger': errors.has(name)}"
          v-validate="validate"
          data-vv-as="Person"
          @change="$emit('input', $event.target.value)">
          <option v-for="person in this.getAll" :key="person.id" :value="person.id">{{ person.name }}</option>
        </select>
        <span v-show="errors.has(name)" class="help is-danger">
          {{ errors.first(name) }}
        </span>
      </div>
    </p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'UbSelectPerson',
  inject: {
    $validator: '$validator'
  },
  props: {
    name: {
      type: String,
      required: true
    },
    validate: {},
    value: {}
  },
  computed: {
    ...mapGetters('person', [
      'getAll'
    ])
  }
}
</script>