<template>
  <div>
    <h1 class="title is-2 is-loading">Absenzen</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Person</th>
          <th>Von</th>
          <th>Bis</th>
          <th>Grund</th>
          <th>Optional</th>
          <th>
            <a @click="fetchAll(true)">
              <span class="icon">
                <i class="fa fa-refresh"></i>
              </span>
            </a>
            <a @click="$router.push({name: 'AbsenceNew'})">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="absence in this.getAll" :key="absence.id">
          <th>{{ absence.id }}</th>
          <td>{{ getPerson(absence.person_id).name }}</td>
          <td>{{ absence.start_time | formatDate }}</td>
          <td>{{ absence.end_time | formatDate }}</td>
          <td>{{ absence.reason }}</td>
          <td>{{ absence.optional ? 'ja' : 'nein' }}</td>
          <td>
            <a @click="$router.push({name: 'AbsenceEdit', params: { id: absence.id }})">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <a @click="remove(absence)">
              <span class="icon">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UbViewAbsence',
  computed: {
    getPerson () { return this.$store.getters['person/get'] },
    ...mapGetters('absence', [
      'getAll'
    ])
  },
  methods: {
    ...mapActions('absence', [
      'remove',
      'fetchAll'
    ])
  },
  filters: {
    formatDate: function (value) {
      return value.local().format('YYYY-MM-DD HH:mm')
    }
  }
}
</script>