<template>
  <div class="tile is-ancestor">
    <div class="tile is-2">
      <div class="field">
        <label class="label">Arbeit</label>
        <div class="control">
          <div class="select">
            <select v-model="selectedResourceId" @change="rerenderEvents">
              <option value="all">Alle</option>
              <option v-for="resource in resources" :key="resource.id" :value="resource.id">{{ resource.name }}</option>
            </select>
          </div>
        </div>
        <ub-form-workshift></ub-form-workshift>
      </div>
    </div>
    <div class="tile">
      <div ref="calendar"></div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import UbFormWorkshift from './UbFormWorkshift'

import $ from 'jquery'

import 'fullcalendar'
import 'fullcalendar/dist/fullcalendar.css'
import 'fullcalendar/dist/locale/de-ch.js'
import 'fullcalendar-scheduler'
import 'fullcalendar-scheduler/dist/scheduler.css'
import moment from 'moment'

export default {
  name: 'UbViewCalendar',
  components: {
    UbFormWorkshift
  },
  data () {
    return {
      selectedResourceId: 'all',
      resources: [
        {id: '1', name: 'Infotheke'},
        {id: '2', name: 'Kurier'}
      ],
      calendar: null
    }
  },
  methods: {
    renderEvent (event, element, view) {
      // always show opening hours
      if (event.resourceId === 'openinghour') {
        return
      }
      if (this.selectedResourceId === 'all') {
        return
      }
      if (event.resourceId !== null && event.resourceId !== this.selectedResourceId) {
        element.hide()
      }
    },
    saveEvent (event, revertFunc) {
      event.start_time = event.start
      event.end_time = event.end
      this['workshift/save'](event)
        .then((w) => {
          // TODO: notify user
          console.log('saved', w)
        })
        .catch((e) => {
          // TODO: notify user
          console.log(e)
          revertFunc()
        })
    },
    workshiftToFullCalendar (w) {
      let fcw = Object.assign({}, w)
      let person = this['person/get'](w.person_id)
      let work = this['work/get'](w.work_id)
      fcw.start = w.start_time
      fcw.end = w.end_time
      fcw.color = person.color
      fcw.title = person.short_name + ' ' + work.name
      fcw.resourceId = work.id
      return fcw
    },
    absenceToFullCalendar (a) {
      let fca = Object.assign({}, a)
      let person = this['person/get'](a.person_id)
      fca.start = a.start_time
      fca.end = a.end_time
      fca.color = person.color
      fca.title = person.short_name + ' ' + a.reason
      fca.readId = a.id
      fca.id = 'absence-' + a.id
      fca.resourceId = 'absence'
      return fca
    },
    eventToFullCalendar (e) {
      let fce = Object.assign({}, e)
      fce.start = e.start_time
      fce.end = e.end_time
      fce.rendering = 'inverse-background'
      fce.color = '#c3c3c3'
      fce.resourceId = 'openinghour'
      fce.realId = e.id
      fce.id = 'openinghour'
      fce.editable = false
      return fce
    },
    rerenderEvents () {
      this.calendar.fullCalendar('rerenderEvents')
    },
    ...mapActions([
      'work/fetchAll',
      'workshift/fetchAll',
      'workshift/save',
      'event/fetchAll',
      'absence/fetchAll'
    ])
  },
  computed: {
    ...mapGetters([
      'work/get',
      'person/get',
      'work/getAll',
      'workshift/getAll',
      'absence/getAll',
      'event/getAll',
      'person/getAll'
    ])
  },
  mounted () {
    this.calendar = $(this.$refs.calendar)

    var args = {
      schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
      defaultView: 'agendaWeek',
      editable: true,
      selectable: true,
      timezone: 'local',
      nowIndicator: true,
      scrollTime: '07:00:00',
      contentHeight: function () { return $(window).height() * 0.7 },
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,timelineDay,timelineWeek'
      },
      // TODO
      select: function (start, end, jsevent, view, res) {
        console.log(start, end, jsevent, view, res)
      },
      eventDrop: (event, delta, revertFunc, jsEvent, ui, view) => {
        this.saveEvent(event, revertFunc)
      },
      eventResize: (event, delta, revertFunc, jsEvent, ui, view) => {
        this.saveEvent(event, revertFunc)
      },
      eventRender: this.renderEvent,
      resources: (callback) => {
        let fixResources = [
          { id: 'openinghour', title: 'Öffnungszeiten' },
          { id: 'absence', title: 'Absenz' }
        ]
        let remoteResources = this['work/getAll'].map(r => {
          let res = Object.assign({}, r)
          res.title = r.name
          delete res.name
          return res
        })
        callback(fixResources.concat(remoteResources))
      },
      // disable dragging from one resource to another
      eventResourceEditable: false,
      eventClick: (event) => {
        console.log(event)
      },
      eventSources: [
        //
        // workshifts
        //
        {
          events: (start, end, timezone, callback) => {
            this['workshift/fetchAll'](moment(start.toDate()), moment(end.toDate()))
              .then(() => {
                callback(this['workshift/getAll'].map((w) => this.workshiftToFullCalendar(w)))
              })
              .catch((error) => {
                // TODO
                alert('failed to load workshifts', error)
              })
          }
        },
        //
        // events
        //
        {
          events: (start, end, timezone, callback) => {
            this['event/fetchAll'](moment(start.toDate()), moment(end.toDate()))
              .then(() => {
                callback(this['event/getAll'].map((e) => this.eventToFullCalendar(e)))
              })
              .catch((error) => {
                // TODO
                alert('failed to load events', error)
              })
          }
        },
        //
        // absences
        //
        {
          events: (start, end, timezone, callback) => {
            this['absence/fetchAll'](moment(start.toDate()), moment(end.toDate()))
              .then(() => {
                callback(this['absence/getAll'].map((a) => this.absenceToFullCalendar(a)))
              })
              .catch((error) => {
                // TODO
                alert('failed to load absences', error)
              })
          }
        }
      ]
    }
    this.calendar.fullCalendar(args)
  }
}
</script>