<template>
  <div>
    <h1 class="title is-2 is-loading">Einsätze</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Von</th>
          <th>Bis</th>
          <th>Funktion</th>
          <th>Person</th>
          <th>
            <a @click="fetchAll(true)">
              <span class="icon">
                <i class="fa fa-refresh"></i>
              </span>
            </a>
            <a @click="$router.push({name: 'WorkshiftNew'})">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="workshift in this.getAll" :key="workshift.id">
          <th>{{ workshift.id }}</th>
          <td>{{ workshift.start_time | formatDate }}</td>
          <td>{{ workshift.end_time | formatDate }}</td>
          <td>{{ getWork(workshift.work_id).name }}</td>
          <td>{{ getPerson(workshift.person_id).name }}</td>
          <td>
            <a @click="$router.push({name: 'WorkshiftEdit', params: { id: workshift.id }})">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <a @click="remove(workshift)">
              <span class="icon">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UbViewWorkshift',
  computed: {
    getPerson () { return this.$store.getters['person/get'] },
    getWork () { return this.$store.getters['work/get'] },
    ...mapGetters('workshift', [
      'getAll'
    ])
  },
  methods: {
    ...mapActions('workshift', [
      'remove',
      'fetchAll'
    ])
  },
  filters: {
    formatDate: function (value) {
      return value.local().format('YYYY-MM-DD HH:mm')
    }
  }
}
</script>