<template>
  <div>
    <h2 class="title is-2">Willkommen</h2>
    <p>Willkommen im Einsatzplaner</p>
  </div>
</template>

<script>
export default {
  name: 'UbWelcome',
  data () {
    return { }
  }
}
</script>

<style>
</style>
