<template>
  <div id="app">
  <section class="section">
    <div class="tabs is-boxed">
      <ul>
        <router-link v-for="item in menu" v-bind:key="item.path" :to="item.path" tag="li">
          <a>{{ item.name }}</a>
        </router-link>
      </ul>
    </div>
    <router-view/>
  </section>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      menu: [
        {path: '/', name: 'Home'},
        {path: '/person', name: 'Personen'},
        {path: '/workshift', name: 'Einsätze'},
        {path: '/absence', name: 'Absenzen'},
        {path: '/work', name: 'Funktionen'},
        {path: '/calendar', name: 'Kalender'}
      ]
    }
  },
  created () {
    this.$store.dispatch('person/fetchAll')
    this.$store.dispatch('work/fetchAll')
    this.$store.dispatch('user/fetch')

    // TODO: use range
    this.$store.dispatch('workshift/fetchAll')
    this.$store.dispatch('event/fetchAll')
    this.$store.dispatch('absence/fetchAll')
  }
}
</script>